<a href="javascript:history.back()">Go Back</a>

<div class="text-left">
	<h3 >Name</h3> 
	<%=@job.name.humanize%>
</div>

<div class="text-left">
	<h3 >Bussiness</h3> 
	<%=@job.empresa.humanize%>
</div>

<div class="text-left">
	<h3 >Monthly salary</h3> 
	<%=@job.monthly_salary.humanize%>
</div>
<div class="text-left">
	<h3 >Location</h3> 
	<%=@job.location.humanize%>
</div>
<div class="text-left">
	<h3 >Schedule</h3> 
	<%=@job.schedule.humanize%>
</div>
<div class="text-left">
	<h3 >Working days</h3> 
	<%=@job.working_days.humanize%>
</div>
<div class="text-left">
	<h3 >Contract type</h3> 
	<%=@job.contract_type.humanize%>
</div>
<div class="text-left">
	<h3 >Lenguages</h3> 
	<%=@job.lenguages.humanize%>
</div>
<div class="text-left">
	<h3 >Skills</h3> 
	<%=@job.skills.humanize%>
</div>
<div class="text-left">
	<h3 >Degrees</h3> 
	<%=@job.degrees.humanize%>
</div>
<div class="text-left">
	<h3 >Available spots</h3> 
	<%=@job.available_spots.humanize%>
</div>
<div class="text-left">
	<h3 >Functions</h3> 
	<%=@job.functions.humanize%>
</div>
<div class="text-left">
	<h3 >Bussiness offers</h3> 
	<%=@job.bussiness_offers.humanize%>
</div>
<div class="text-left">
	<h3 >Offer publication</h3> 
	<%=@job.offer_publication.humanize%>
</div>
<div class="text-left">
	<h3 >Offer expiration</h3> 
	<%=@job.offer_expiration.humanize%>
</div>

<a href="javascript:history.back()">Go Back</a>