<a href="javascript:history.back()">Go Back</a>

<div class="text-left">
	<h3 >Program name</h3> 
	<%=@edu.program_name%>
</div>

<div class="text-left">
	<h3 >Degree awarded</h3> 
	<%=@edu.degree_awarded%>
</div>

<div class="text-left">
	<h3 >Institution name</h3> 
	<%=@edu.institution_name%>
</div>
<div class="text-left">
	<h3 >Institution type</h3> 
	<%=@edu.institution_type%>
</div>
<div class="text-left">
	<h3 >Duration</h3> 
	<%=@edu.duration%>
</div>
<div class="text-left">
	<h3 >Inscription cost</h3> 
	<%=@edu.inscription_cost%>
</div>
<div class="text-left">
	<h3 >Monthly cost</h3> 
	<%=@edu.monthly_cost%>
</div>
<div class="text-left">
	<h3 >Location</h3> 
	<%=@edu.location%>
</div>
<div class="text-left">
	<h3 >Required degrees</h3> 
	<%=@edu.required_degrees%>
</div>
<div class="text-left">
	<h3 >Other requirements</h3> 
	<%=@edu.requirements%>
</div>
<div class="text-left">
	<h3 >Vacants</h3> 
	<%=@edu.vacants%>
</div>

<div class="text-left">
	<h3 >Weekly duration</h3> 
	<%=@edu.weekly_duration%>
</div>

<div class="text-left">
	<h3 >Day duration</h3> 
	<%=@edu.day_duration%>
</div>

<div class="text-left">
	<h3 >Schedule</h3> 
	<%=@edu.schedule%>
</div>

<a href="javascript:history.back()">Go Back</a>

